.main-page__content-areachart {
  margin-top: 2rem;
}
.main-page__content-barchart {
  margin: 2rem 0;
}
.main-page__content-stackedareachart {
  margin: 2rem 0;
}

.main-page {
  margin: 0 4rem;
  &__breadcrum {
    margin-top: 3.4rem;
    margin-bottom: 3.9rem;
    > div {
      font-weight: 700;
      font-size: 20px;
    }
  }
  &__content {
    display: flex;
    column-gap: 2.8rem;
    .main-page--left {
      width: 70%;
      .main-page__overview-header {
        margin-bottom: 1.6rem;
        font-size: 24px;
        font-weight: 700;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        p {
          margin: 0;
        }
        span {
          margin-left: 2.2rem;
          color: #2f80ed;
          font-size: 16px;
          display: flex;
          align-items: center;
        }
      }
      .main-page__overview-inner {
        display: flex;
        column-gap: 2.8rem;
        justify-content: space-between;
        &--left {
          flex-grow: 1;
          display: flex;
          column-gap: 2rem;
          width: 74rem;
          justify-content: space-between;
          background: #ffffff;
          padding: 1.7rem 3.1rem;
          /* Card */

          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          line-height: 24px;
          p {
            margin: 0;
            font-weight: 600;
          }
          ul {
            list-style: inside;
            margin-left: 1.2rem;
          }
          span {
            font-weight: 400;
          }
        }
        &--right {
          width: 41.7rem;
          display: flex;
          flex-direction: column;
          row-gap: 2.8rem;
          &__card {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            column-gap: 2rem;
            background-color: #ffffff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding: 3rem 2.4rem;
            p {
              font-size: 20px;
              font-weight: 700;
            }
            h5 {
              color: #2f80ed;
              font-size: 56px;
              font-weight: 700;
            }
          }
        }
      }
    }
    .main-page--right {
      width: 30%;
      &-title {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .main-page--right-search {
        margin-bottom: 1.3rem;
        input {
          border: none;
          border-radius: 0;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        }
      }
      .main-page--right-relate__card {
        margin-bottom: 1.6rem;
      }
      .main-page--right-newsfeed {
        .main-page--right-title {
          display: flex;
          align-items: center;
          p {
            margin: 0;
          }
        }
        &__cards {
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          padding: 1rem 1.2rem;
          background-color: #ffffff;
          margin-top: 2.4rem;
          > div {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.main-page__newsfeed-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.main-page__newsfeed-tab {
  width: fit-content !important;
}

.main-page__newsfeed-tabcontent {
  display: flex;
  column-gap: 2.8rem;
  margin-top: 2.8rem;
  .main-page__newsfeed-search {
    width: calc(100% / 3);
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 2rem 2.1rem;
    height: 57.1rem;
    &__header {
      display: flex;
      align-items: center;
      margin-top: 2.2rem;
      margin-bottom: 2.8rem;
      p {
        margin-bottom: auto;
        flex-shrink: 0;
        font-size: 20px;
        font-weight: 600;
        margin-right: 2.2rem;
      }
      &-menu {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 1rem;
        align-items: center;
        .base-radio {
          flex-shrink: 0;
        }
      }
    }
    ul {
      max-height: 40rem;
      overflow-y: scroll;
      li {
        padding: 1.7rem 1.3rem 1.3rem 1.3rem;
        &:hover {
          background-color: #1850a833;
        }
      }
      .main-page__newsfeed-search__header-item {
        background-color: #1850a833;
      }
    }
  }
  .main-page__newsfeed-content {
    width: calc(100% / 3 * 2);
    &--inner {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3.1rem;
      row-gap: 1.7rem;
    }
  }
}

.main-page__newsfeed__item {
  max-height: 18.5rem;
  background-color: #ffffff;
  padding: 1.4rem 1.6rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  &-body {
    display: flex;
    column-gap: 1.6rem;
    .main-page__newsfeed__item-img {
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      width: 17.1rem;
      height: 11.3rem;
      flex-shrink: 0;
      object-fit: cover;
      object-position: center;
    }
    .main-page__newsfeed__item-text {
      .main-page__newsfeed__item-title {
        font-size: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        svg {
          width: 1.8rem;
          height: 1.8rem;
          margin-left: 0.5rem;
        }
      }
      .main-page__newsfeed__item-source {
        font-size: 16px;
        font-weight: 400;
        img {
          width: 2.3rem;
          height: 1.6rem;
          margin-right: 4px;
        }
        span {
          color: #bdbdbd;
          margin-left: 2.4rem;
        }
      }
      .main-page__newsfeed__item-sumary {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    svg {
      width: 1.7rem;
      height: 1.28rem;
      fill: var(--primary-color);
      margin-right: 1.2rem;
    }
    li {
      margin-right: 1.8rem;
    }
  }
}

.main-page__statistical {
  &-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    margin-top: 3.6rem;
  }
  &-tab {
    width: fit-content !important;
  }
  &-content {
    display: grid;
    column-gap: 4.1rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4.8rem;
  }
}

.main-page__footer {
  background-color: #ffffff;
  margin-top: 4.3rem;
  padding: 3.4rem 4rem;
  margin-left: -4rem;
  margin-right: -4rem;
  background: #ffffff;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  &-header {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    span {
      font-size: 16px;
      font-weight: 600;
      color: #2f80ed;
      margin-left: 1.8rem;
    }
  }
}

@media (max-width: 1366px) {
  .main-page__newsfeed__item {
    &-source {
      span {
        margin-left: 1rem !important;
      }
    }
  }
  .main-page__newsfeed-search {
    &__header {
      margin-bottom: 0.5rem !important;
      p {
        flex-shrink: 0;
        margin-right: 1.2rem;
      }
    }
    ul {
      height: 38rem;
    }
  }
  .main-page__newsfeed__item {
    font-size: 14px;
    &-img {
      width: 15.1rem !important;
      height: 9.3rem !important;
    }
    &-title {
      font-size: 18px !important;
      margin-bottom: 0.5rem;
    }
    &-source {
      font-size: 14px !important;
      margin-bottom: 0.5rem;
    }
  }

  .main-page--right-newsfeed__card {
    font-size: 14px;
    &-header {
      &--left {
        p {
          font-size: 18px;
        }
      }
      &__source {
        p {
          font-size: 14px !important;
        }
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid #bdbdbd;
    }
  }
}
