@function rgba-to-rgb($rgb, $alpha: 1, $background: #fff) {
  @return mix(rgb(red($rgb), green($rgb), blue($rgb)), $background, $alpha * 100%);
}

$body-bg: #fafafa;
$white-color: #ffffff;
$black-color: #000000;
$black-color-2: #1D1D1D;
$black-color-3: #282828;
$blue-color: #1c8cff;
// thay doi
$background-color: #E5E5E5;
$primary-color: #1850A8;
$secondary-color: #F2994A;
$extra-color: #212b35;
$error-color: #EB5757;
$error-darker-color: #dc3545;
$warning-color: #E2B93B;
$warning-darker-color: #e19147;
$success-color: #27AE60;
$success-darker-color: #28a745;
$info-color: #2F80ED;
$menu-active-color: linear-gradient(90deg, #015aa4 0%, #4cb8e8 153.5%);
$menu-active-children-color: #75C9F0;
$menu-background-children-color: #000c37;
$box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);;
$gray-color: #333333;
$gray-color-2: #4F4F4F;
$gray-color-3: #828282;
$gray-color-4: #BDBDBD;
$gray-color-5: #E0E0E0;
$gray-color-6: #F2F2F2;
$gray-border: #969696;
$gray-border-thin: #c4c4c4;
$button-bg-hover: #053683;
$button-bg-active: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), #092C4C;
$button-outline-bg-hover: #ced5db;
$button-outline-border-hover: #061f35;
$button-outline-bg-active: #9dabb7;
$card-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
$item-bg-hover: rgba(24, 80, 168, 0.1);
$sidebar-bg: #153C81;
$sidebar-menu-children-bg: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #153C81;
$sidebar-menu-bg: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

:root {
  --white-color: #{$white-color};
  --black-color: #{$black-color};
  --blue-color: #{$blue-color};
  --background-color: #{$background-color};
  --primary-color: #{$primary-color};
  --primary-color-90: #{rgba-to-rgb($primary-color, 0.9)};
  --primary-color-80: #{rgba-to-rgb($primary-color, 0.8)};
  --primary-color-70: #{rgba-to-rgb($primary-color, 0.7)};
  --primary-color-50: #{rgba-to-rgb($primary-color, 0.5)};
  --primary-color-30: #{rgba-to-rgb($primary-color, 0.3)};
  --primary-color-10: #{rgba-to-rgb($primary-color, 0.1)};
  --primary-color-5: #{rgba-to-rgb($primary-color, 0.05)};
  --extra-color: #{$extra-color};
  --extra-color-80: #{rgba-to-rgb($extra-color, 0.8)};
  --extra-color-50: #{rgba-to-rgb($extra-color, 0.5)};
  --extra-color-20: #{rgba-to-rgb($extra-color, 0.2)};
  --extra-color-10: #{rgba-to-rgb($extra-color, 0.1)};
  --extra-color-5: #{rgba-to-rgb($extra-color, 0.05)};
  --text-primary-color: #{$extra-color};
  --text-extra-color: #{rgba-to-rgb($extra-color, 0.5)};
  --border-color: #{rgba-to-rgb($extra-color, 0.2)};
  --error-color: #{$error-color};
  --error-color-rgb: #{red($error-color), green($error-color), blue($error-color)};
  --error-darker-color: #{$error-darker-color};
  --warning-color: #{$warning-color};
  --warning-color-rgb: #{red($warning-color), green($warning-color), blue($warning-color)};
  --warning-darker-color: #{$warning-darker-color};
  --success-color: #{$success-color};
  --success-color-rgb: #{red($success-color), green($success-color), blue($success-color)};
  --success-darker-color: #{$success-darker-color};
  --info-color: #{$info-color};
  --menu-active-color: #{$menu-active-color};
  --menu-active-children-color: #{$menu-active-children-color};
  --menu-background-children-color: #{$menu-background-children-color};
  --menu-background-color: #{rgba-to-rgb($menu-background-children-color, 0.9)};
  --box-shadow: #{$box-shadow};
  --gray-color: #{$gray-color};
  --gray-color-2: #{$gray-color-2};
  --gray-color-3: #{$gray-color-3};
  --gray-color-4: #{$gray-color-4};
  --gray-color-5: #{$gray-color-5};
  --gray-color-6: #{$gray-color-6};
  --gray-border: #{$gray-border};
  --gray-border-thin: #{$gray-border-thin};
  --button-bg-hover: #{$button-bg-hover};
  --button-bg-active: #{$button-bg-active};
  --button-outline-bg-hover: #{$button-outline-bg-hover};
  --button-outline-border-hover: #{$button-outline-border-hover};
  --button-outline-bg-active: #{$button-outline-bg-active};
  --body-bg: #{$body-bg};
  --card-box-shadow: #{$card-box-shadow};
  --secondary-color: #{$secondary-color};
  --item-bg-hover: #{$item-bg-hover};
  --sidebar-bg: #{$sidebar-bg};
  --sidebar-menu-children-bg: #{$sidebar-menu-children-bg};
  --sidebar-menu-bg: #{$sidebar-menu-bg};
}
