.pill-container {
  border-radius: 16px;
  //width: 80px;
  padding: 4px 8px;
  max-height: 24px;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1.2rem;
}

.success {
  background: var(--success-color);
}

.error {
  background: var(--error-color);
}

.normal {
  background-color: #2F80ED;
}