.chart {
  width: 70%;
}
.stacked-bar-chart {
  &__title {
    font-size: 18px;
    font-style: italic;
    text-align: right;
  }
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 2rem;
  .svg-content {
      width: 100%;
  }
  .tick {
    text {
      font-weight: 700;
      font-size: 14px;
      color: #828282;
    }
    line {
      stroke: #e0e0e0;
    }
  }
  .domain {
    stroke: #e0e0e0;
  }
  &__menu {
    display: flex;
    align-items: center;
    li {
      display: flex;
      align-items: center;
      margin-right: 5rem;
      span {
        margin-right: 15px;
        width: 50px;
        height: 25px;
        display: inline-block;
      }
    }
  }
}
