.filter-container {
  .filter-block {
    flex-shrink: 0;
    margin-left: -1px;
    .base-button {
      &:disabled {
        opacity: 0.65;
        background: inherit;
        color: inherit;
      }
    }
    & > {
      .base-button {
        border-radius: 0;
        white-space: nowrap;
      }
    }
    &:first-child {
      margin-left: 0;
      > .base-button {
        border-radius: 3px 0px 0px 3px;
      }
    }
  }
  @media (max-width: 767px) {
    .filter-block {
      &:first-child {
        > .base-button {
          height: 4rem;
          gap: 0;
          padding: 0.8rem 0.8rem 0.8rem 1.2rem;
        }
      }
    }
  }
}
.popover-filter {
  margin: 1rem 0 0;
  border-radius: 3px;
  min-width: 26rem;
  max-width: initial;
  padding: 2.4rem 2rem;
  .btn-filter-submit {
    margin-top: 1.6rem;
  }
  &--featured {
    min-width: 16rem;
    .filter-item {
      &--radio {
        max-width: initial;
        min-width: initial;
      }
      &--date {
        max-width: 22rem;
        display: block;
        & > label {
          max-width: initial;
          margin-bottom: 0.4rem;
        }
        .base-datepicker {
          width: inherit;
          margin-bottom: 1.6rem;
        }
      }
    }
  }

  .filter-item {
    max-width: 22rem;
    min-width: 22rem;
    &--radio {
      .base-radio {
        white-space: nowrap;
      }
    }
    &--date {
      max-width: initial;
      display: flex;
      align-items: center;
      gap: 0.8rem;
      & > label {
        display: block;
        font-size: 1.4rem;
        color: var(--text-primary-color);
        margin: 0;
        white-space: nowrap;
        max-width: 6rem;
      }
      .base-datepicker {
        width: 16rem;
        .icon {
          top: 50%;
          transform: translateY(-50%);
          bottom: 0;
        }
        .react-datepicker {
          &__input-container {
            input {
              padding: 0.7rem 3.6rem 0.7rem 1.2rem;
              font-size: 1.4rem;
              line-height: 2.4rem;
              border: 1px solid var(--border-color);
              border-radius: 0.3rem;
              box-shadow: var(--box-shadow-input);
            }
          }
        }
      }
    }
  }
  .filter-option {
    gap: 1.6rem;
    margin-bottom: 1.6rem;
    &:last-child {
      margin-bottom: 0;
    }
    & > label {
      min-width: 22rem;
      max-width: 22rem;
      flex-shrink: 0;
      background: linear-gradient(to bottom, var(--white-color), var(--extra-color-5));
      border: 1px solid var(--border-color);
      color: var(--text-primary-color);
      font-size: 1.4rem;
      padding: 0.8rem;
      font-weight: 400;
      line-height: 2.2rem;
      border-radius: 3px;
      margin: 0;
    }
    .btn-remove {
      &:hover,
      &:focus {
        background: none;
        box-shadow: none;
      }
      svg {
        color: var(--text-primary-color);
        fill: var(--text-primary-color);
        width: 2rem;
        height: 2rem;
      }
    }
  }
  .option-add-filter {
    min-width: 22rem;
    max-width: 22rem;
  }
  @media (max-width: 767px) {
    padding: 1.6rem;
    min-width: 28.2rem;
    max-width: 28.2rem;
    .filter-option {
      flex-wrap: wrap;
      gap: 1.2rem;
      & > label {
        min-width: 25rem;
        max-width: 25rem;
      }
    }
    .filter-item {
      width: calc(100% - 3.2rem);
      min-width: initial;
      max-width: initial;
    }
    .option-add-filter{
      width: 100%;
      max-width: 100%;
    }
  }
}
