
.account {
  width: 100%;

  &__container {
    padding: 4rem;
  }

  &__tab-list {

    &__block {
      padding-bottom: 2.4rem;
    }

    &__block:not(:last-child) {
      border-bottom: 0.1rem solid var(--gray-color-4);
    }

    & .account__title {
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 600;
      margin-bottom: 2.8rem;
      padding-top: 2.8rem;
    }

    &__item {
      padding: 1.2rem 2.7rem;
      background-color: transparent;
      border-radius: 0.2rem;
      margin-bottom: 0.8rem;
      transition: all .3s ease;
      cursor: pointer;
      &.active {
        background-color: rgba(24, 80, 168, 0.1);
      }

      &:hover {
        background-color: rgba(24, 80, 168, 0.1);
      }
    }
  }
}

form {
  margin: 0;
}