.base-dialog {
  background: var(--white-color);
  box-shadow: var(--box-shadow);
  width: 39.4rem;
  border-radius: 0.8rem;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 2.4rem;
  h3 {
    padding-bottom: 1.6rem;
    margin: 0;
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.18px;
    svg {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      flex-shrink: 0;
    }
  }
  &__content {
    letter-spacing: 0.25px;
    font-size: 1.4rem;
    line-height: 2rem;
    min-height: 7.5rem;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    .btn-cancel {
      border-color: var(--extra-color-60);
      color: var(--extra-color-60);
      &:hover {
        background: var(--extra-color-5);
      }
      &:focus,
      &:active {
        background: var(--extra-color-20);
      }
    }
  }
  &__overlay {
    background: var(--extra-color);
    opacity: 0.4;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
  }
  &--color {
    &-success {
      h3 {
        svg {
          color: var(--success-color);
          fill: var(--success-color);
        }
      }
    }
    &-error {
      h3 {
        svg {
          color: var(--error-color);
          fill: var(--error-color);
        }
      }
    }
  }
}
